<main class="container-fluid">
  {% for date in site.data.events %}
  <div class="row">
    <div class="col-md-6 col-sm-12 mb-5">
      <a href="/assets/images/fc{{ date.name }}.jpg"><img class="img-fluid" src="/assets/images/fc{{ date.name }}.jpg" alt="FLASH CRASH {{ date.name }}"></a>
    </div>
    <div class="col-md-6 col-sm-12 mb-5">
      {% if date.right == "jpg" %}
        <a href="/assets/images/fc{{ date.name }}-times.jpg"><img class="img-fluid" src="/assets/images/fc{{ date.name }}-times.jpg" alt="FLASH CRASH {{ date.name }}"></a>
      {% else %}
        <video width="4000" height="4000" controls>
          <source src="/assets/videos/fc{{ date.name }}.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  <hr>
</main>