<main class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <img src="/assets/images/shattered.png" class="img-fluid"/>
      <p><em>Flash Crash 2021 &mdash; 2022</em></p>
      <hr/>
      <p>Founded in the throes of the pandemic in 2021, Flash Crash began as a Teletype-only performance showcase. Towards the end of the stream, it was suggested to become a "recursive" event: signups for next time open on stream as the show closes. "To be changed by the world..." was our original call to arms. Soon after we added a <a href="/mission">mission</a> statement. We have extensive <a href="/archives">archives</a> of most performances. The final show was on August 6, 2022.</p>
      <hr/>
      <p>Never ending & already over.</p>
      <p>Stay golden.</p>
      <p>Always crash.</p>
    </div>
  </div>
</main>