<header class="container-fluid">
  <div class="row">
    <div class="col mb-5">
      <nav>
        <ul>
        {% for item in site.data.nav %}
        <li class="{% if item.url == page.url %}active{% endif %}"><a class="{{ item.class }}" href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
        </ul>
      </nav>
      <a href="https://docs.google.com/spreadsheets/d/1j9zcKIlbzhhd2d2vw5lwknjNA5H5lMPaGscLkPeiP4Q/edit#gid=1237334231">Saturday August 6, 2022 @ 1:00PM PST<br>SIGNUPS 🫡 NOW 🫠 OPEN 🤤</a>
    </div>
  </div>
  <div class="row">
    <div class="col mb-5">
      <div id="twitch-embed"></div>
    </div>
  </div>
</header>
