$yellow: #ffff00
$black: #1b1b1b

$sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
$mono: "VT323", monospace
$serif: "Times New Roman", Times, serif

body
  font-family: $sans
  background: $yellow
  color: $black

  &.secret
    background: #FFFFFF
    font-family: $serif

    h1, h2
      text-align: center

    a,
    a:link,
    a:visited
      color: #0000FF
      text-decoration: underline
    a:hover,
    a:active
      color: #FFFFFF
      background: #0000FF


h1
  font-size: 4rem

h2, h3, h4, h5, h6, header a
  font-size: 2.5rem

p, li
  font-size: 2rem

ul
  list-style-type: square
  padding-right: 0
  padding-left: 30px
  
a,
a:link,
a:visited
  color: $black
  text-decoration: underline
  word-wrap: break-word
a:hover,
a:active
  color: $yellow
  background: $black

a img,
a:link img,
a:visited img,
iframe
  padding: 10px
  background: $black
a:hover img,
a:active img,
  background: $yellow

iframe
  width: 100%
  min-height: 500px
  height: auto

hr
  border-top: 10px solid $black

nav ul
  margin: 0
  padding: 0
  li
    display: inline
    a
      font-family: $mono
      border: 4px solid $black
      font-size: 3rem
      color: $black
      padding: 0 5px
      text-decoration: none !important
  li.active a,
  li a:hover
    background: $black
    color: $yellow
    text-decoration: none

footer
  font-size: 2.5rem
  font-family: $serif
  font-style: italic

  div
    display: inline-block

  .northern-information
    width: 75px
    height: 35px
    display: inline-block
    a
      display: block
      width: 75px
      margin: auto

    a:hover .ni
      fill: $yellow

    .ni
      fill: $black

  .map-corps
    width: 35px
    height: 35px
    display: inline-block
    a
      width: 35px
      display: block
      margin: auto

    a:hover .mc
      fill: $yellow

    .mc
      fill: $black